@import './config';
.container {
  display: flex;
  flex-direction: column;
  @media (width > 45em) {
    flex-direction: row-reverse;
  }
}

header {
  padding: 2rem 2rem;
  @media (width > 45em) {
    padding: 3rem 2rem;
    position: absolute;
    left: 5rem;
  }
}

.hero-image {
  img {
    width: 100%;
  }
  .mobile-img {
    @media (width > 45em) {
      display: none;
    }
  }
  .desktop-img {
    display: none;
    @media (width > 45em) {
      display: block;
      width: 30rem;
    }
  }
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: $desaturated-red;
  text-transform: uppercase;
  width: 19rem;
  letter-spacing: 1rem;
  margin: 4rem auto 2rem;
  font-weight: 300;
  @media (width > 45em) {
    font-size: 4.3rem;
    margin: 7rem 0 0;
    text-align: left;
  }

  span {
    color: $dark-grayish-red;
    font-weight: 600;
  }
}

p {
  font-size: 1rem;
  text-align: center;
  padding: 0 3rem;
  line-height: 1.9rem;
  color: $desaturated-red;
  @media (width > 45em) {
    font-size: 1.06rem;
    text-align: left;
    padding-left: 0;
    padding-right: 4rem;
  }
}

.content {
  background-image: url('/images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-image: linear-gradient(hsl(0, 100%, 98%), hsl(0, 0%, 100%));
  background-size: cover;
  @media (width > 45em) {
    padding: 2rem 7rem;
    height: 35rem;
  }
}

form {
  display: flex;
  margin-top: 3rem;
  width: 26rem;
  position: relative;
  margin: 2rem auto;
  @media (width > 45em) {
    width: 29rem;
    margin: 2rem 0 0;
  }
}

form input {
  padding: 1.1rem 2rem;
  border-radius: 12rem;
  width: 25rem;
  outline: none;
  border: 2px solid $desaturated-red;
}

form button {
  border: none;
  outline: none;
  border-radius: 12rem;
  padding: .8rem 2.5rem;
  cursor: pointer;
  background-image: linear-gradient(hsl(0, 74%, 74%), hsl(0, 80%, 86%));
  box-shadow: 2px 10px 5px black;
  position: absolute;
  top: 0rem;
  right: 1rem;
}

#error {
  position: absolute;
  left: 1rem;
  top: 3.5rem;
  color: $soft-red;
  display: none;
}

#error-icon {
  position: absolute;
  top: .8rem;
  right: 7.5rem;
  display: none;
}

footer {
  background-image: linear-gradient(hsl(0, 100%, 98%), hsl(0, 0%, 100%));
  color: white;
}
.attribution { 
  text-align: center; 
  color: $desaturated-red;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}